## Settings file was created by plugin NoItemSpawnLimit v1.0.8
## Plugin GUID: HeroHanex.NoItemSpawnLimit

[General]

## Remove item spawn limit
# Setting type: Boolean
# Default value: true
RemoveSpawnLimit = true

## Logging level
# Setting type: ModLogLevel
# Default value: Info
# Acceptable values: Error, Warning, Info, Debug
LogLevel = Info

